.example-card {
  max-width: 400px;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(236, 252, 22);
  padding: 10px;
  margin-bottom: 50px;
}

.example-card1 {
  max-width: 400px;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(236, 252, 22);
  padding: 10px;
  margin-bottom: 10px;
}


/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
